.set-order {
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__input {
        border:none;
        border-bottom: 1px solid #ececec;
        padding: 1.5rem;
        &:focus {
            outline: none;
        }
    }
    input[type=radio] {
        display: none;
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
        & label {
            padding: 1.5rem 3rem;
            background: #FFFFFF;
            color:#D3D3D3;
            border: 1px solid #D3D3D3;
            border-radius: 30px;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                color:#fff;
                background: #FE5F1E;
            }
        }
    }
    &__btn {
        padding: 1.5rem 3rem;
        background: #FFFFFF;
        color:#D3D3D3;
        border: 1px solid #D3D3D3;
        border-radius: 30px;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            color:#fff;
            background: #FE5F1E;
        }
    }
    
}
