.home {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        gap: 35px;
        margin-top: 3.5rem;
    }
    &__title {
        margin-top: 3.2rem;
    }
}