.cart-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ececec;
    padding: 3rem 0;
    &__img {
        max-width: 80px;
        max-height: 80px;
        border-radius: 50%;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__btn {
        background: #FFFFFF;
        border: 2px solid #D7D7D7;
        color:#D7D7D7;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            border-color: #ce4d4d;
            color:#ce4d4d;
        }
    }
    &__price {
        font-weight: 700;
        font-size: 2rem;
    }
    &__description {
        color:#8D8D8D;
    }
}